<div class="ui styled fluid accordion" style="max-width: 400px; margin: 0 auto 1rem;">
	<div class="title" style="border-top: none !important;">
		<i class="dropdown icon"></i>
		Filters
	</div>
	<div class="content">
		<div class="three fields">
			<div class="field">
				<label>Start date</label>
				<div class="ui calendar" id="rangestart">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="Start">
					</div>
				</div>
			</div>
			<br/>
			<div class="field">
				<label>End date</label>
				<div class="ui calendar" id="rangeend">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="End">
					</div>
				</div>
			</div>
			<br/>
			<label>File search (comma separated)</label><br />
			<div class="ui field input">
				<input type="text" placeholder="search" id="filter-search">
			</div>
			<br/>
			<div onclick="$('#filter-search').val('.jpeg,.jpg,.png,.gif')" class="ui mini icon button"><i class="file image outline icon"></i>Image</div>
			<div onclick="$('#filter-search').val('.mp3,.wav,.flac')" class="ui mini icon button"><i class="file audio outline icon"></i>Audio</div>
			<div onclick="$('#filter-search').val('.mp4,.webm')" class="ui mini icon button"><i class="file video outline icon"></i>Video</div>
			<br/><br/>
			<button class="ui button" id="filter-clear">Clear</button>
			<button class="ui primary button" id="filter-submit">Filter</button>
		</div>
	</div>
</div>
{{#section "filters"}}
<script>
	$(function() {

		$("#rangestart").calendar({
			type: "date",
			endCalendar: $("#rangeend")
		}).calendar("set date",urlParams.get('start'));

		$("#rangeend").calendar({
			type: "date",
			startCalendar: $("#rangestart")
		}).calendar("set date",urlParams.get('end'));

		$("#filter-search").val(urlParams.get('search'));
		$("#filter-search").keyup(function(event) {
			if (event.keyCode === 13) {
				$("#filter-submit").click();
			}
		});
		
		$("#filter-submit").click(function() {
			const q = Qs.parse(location.search.replace(/^\?/, ""));
			if ($("#rangestart").calendar("get date")) q.start = $("#rangestart").calendar("get date").toString();
			if ($("#rangeend").calendar("get date")) q.end = $("#rangeend").calendar("get date").toString();
			q.search = $("#filter-search").val();
			location.search = Qs.stringify(q);
		});

		$("#filter-clear").click(function() {
			location.search = "";
		});

	});
</script>
{{/section}}