<div class="ui styled fluid accordion" style="max-width: 400px; margin: 0 auto 1rem;">
	<div class="title" style="border-top: none !important;">
		<i class="dropdown icon"></i>
		Filters
	</div>
	<div class="content">
		<div class="three fields">
			<div class="field">
				<label>Start date</label>
				<div class="ui calendar" id="rangestart">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="Start">
					</div>
				</div>
			</div>
			<br/>
			<div class="field">
				<label>End date</label>
				<div class="ui calendar" id="rangeend">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" placeholder="End">
					</div>
				</div>
			</div>
			<br/>
			<label>File search (comma separated)</label><br />
			<div class="ui field input">
				<input type="text" placeholder="search" id="filter-search">
			</div>
			<br/><br/>
			<button class="ui button" id="filter-clear">Clear</button>
			<button class="ui primary button" id="filter-submit">Filter</button>
		</div>
	</div>
</div>