<div class="ui fluid four basic buttons" style="max-width: 400px; min-width: 300px;">
	<a href="{{pathname}}gallery" class="ui button {{#eq pageTemplate "gallery"}}active{{/eq}}">Gallery</a>
	<a href="{{pathname}}list" class="ui button {{#eq pageTemplate "list"}}active{{/eq}}">List</a>
	<a href="{{pathname}}links" class="ui button {{#eq pageTemplate "links"}}active{{/eq}}">Links</a>
	<a href="{{pathname}}upload" class="ui button {{#eq pageTemplate "upload"}}active{{/eq}}">Upload</a>
</div>