<!doctype html>
<html>
<head>
	<title>{{ config.name }}</title>
	<meta charset="utf-8" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />

	<style>
		body {
			background: #dadada;
		}

		body > .grid {
			height: 100%;
		}

		.icon {
			max-width: 100%;
		}
	</style>
</head>
<body>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.1/qs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>
	$(function() {
		$("img.lazy").lazyload({
			effect: "fadeIn"
		});

		$(".ui.file.input").find("input:text, .ui.button").on("click", function(e) {
			$(e.target).parent().find("input:file").click();
		});

		$("input:file", ".ui.file.input").on("change", function(e) {
			var file = $(e.target);
			var name = "";

			for (var i=0; i<e.target.files.length; i++) {
				name += e.target.files[i].name + ", ";
			}

			name = name.replace(/,\s*$/, "");

			$("input:text", file.parent()).val(name);
		});

		$("#rangestart").calendar({
			type: "date",
			endCalendar: $("#rangeend")
		});

		$("#rangeend").calendar({
			type: "date",
			startCalendar: $("#rangestart")
		});

		$(".ui.accordion").accordion();

		$("#filter-submit").click(function() {
			const q = Qs.parse(location.search.replace(/^\?/, ""));
			q.start = $("#rangestart").calendar("get date");
			q.end = $("#rangeend").calendar("get date");
			q.extensions = encodeURIComponent($("#filter-extensions").val());
			location.search = Qs.stringify(q);
		});

		$("#filter-clear").click(function() {
			location.search = "";
		});
	});
</script>
</body>
</html>