<!doctype html>
<html>
<head>
	<title>{{ config.name }}</title>
	<meta charset="utf-8" />

	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet">
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />

	<style>
		body {
			background: #dadada;
		}

		body > .grid {
			height: 100%;
		}

		.icon {
			max-width: 100%;
		}
	</style>
</head>
<body>
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{pathname}}jquery.mobile.custom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.1/qs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script>
	$(function() {
		$("img.lazy").lazyload({
			effect: "fadeIn"
		});

		$(".ui.file.input").find("input:text, .ui.button").on("click", function(e) {
			$(e.target).parent().find("input:file").click();
		});

		$("input:file", ".ui.file.input").on("change", function(e) {
			var file = $(e.target);
			var name = "";

			for (var i=0; i<e.target.files.length; i++) {
				name += e.target.files[i].name + ", ";
			}

			name = name.replace(/,\s*$/, "");

			$("input:text", file.parent()).val(name);
		});

		$("#rangestart").calendar({
			type: "date",
			endCalendar: $("#rangeend")
		});

		$("#rangeend").calendar({
			type: "date",
			startCalendar: $("#rangestart")
		});

		$(".ui.accordion").accordion();

		$("#filter-submit").click(function() {
			const q = Qs.parse(location.search.replace(/^\?/, ""));
			q.start = $("#rangestart").calendar("get date");
			q.end = $("#rangeend").calendar("get date");
			q.extensions = encodeURIComponent($("#filter-extensions").val());
			location.search = Qs.stringify(q);
		});

		$("#filter-clear").click(function() {
			location.search = "";
		});

		$( "div.ui.grid" ).on( "swiperight", function(e){
			if ($("a.ui.icon.button").not(".right").not(".disabled").length) { $("a.ui.icon.button").not(".right").not(".disabled")[0].click() }
			else if ($(".ui.button.active").prev().length) { $(".ui.button.active").prev()[0].click() }
		});
		$( "div.ui.grid" ).on( "swipeleft", function(){
			if ($("a.ui.right.icon.button").not(".disabled").length) { $("a.ui.right.icon.button").not(".disabled")[0].click() }
			else if ($(".ui.button.active").next().length) { $(".ui.button.active").next()[0].click() }
		});

		if ( $(".ui.file.input").length ) {
			function SubmitData(file) {
				$(".ui.fluid.button").addClass('loading').addClass('disabled');
				var progress = $('#progress').show().progress().progress("set percent",0);
				var formData = new FormData(); 
				formData.append("file",file);
				formData.append("name",$("input:text").eq(1).val());
				$.ajax({
				url: "{{pathname}}upload",
				data: formData,
				processData: false,
				contentType: false,
				type: 'POST',
				xhr: function(){
					var xhr = new window.XMLHttpRequest();
					function HandlePrecent(evt) {if (evt.lengthComputable) { progress.progress("set percent",evt.loaded / evt.total * 100); } }
					xhr.upload.addEventListener("progress", HandlePrecent, false);
					xhr.addEventListener("progress", HandlePrecent, false);
					return xhr;
				},
				success: function(result){
					console.log(result) ;
					if (result.ok){ window.location.href = result.url ;}
					else { alert(result.error); window.location.reload()}
				},
				error: function(xhr, textStatus, errorThrown){
					alert("Error Uploading: " + errorThrown); window.location.reload();
				}
				});

			};

			$(".ui.fluid.button").on("click", function(e) {
				e.preventDefault();
				e.stopPropagation();
				SubmitData( $("input:file", ".ui.file.input")[0].files.item(0) );
			});

			$( document ).on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
				e.preventDefault();
				e.stopPropagation();
			})
			.on('dragover dragenter', function() {
				$(".ui.fluid.button").removeClass('primary').addClass('secondary').html("Drop to upload");
				$(".ui.basic.form.segment.left.aligned").children(":first").addClass('disabled');
			})
			.on('dragleave dragend', function() {
				$(".ui.fluid.button").removeClass('secondary').addClass('primary').html("Submit");
				$(".ui.basic.form.segment.left.aligned").children(":first").removeClass('disabled');
			})
			.on('drop', function(e) {
				$(".ui.fluid.button").removeClass('secondary').addClass('primary').html("Submit");
				$("input:file", ".ui.file.input").parent().children(":first").val("Droped File");
				SubmitData(e.originalEvent.dataTransfer.files.item(0));
			})
			.on("paste", function(e){
				var pastedData = e.originalEvent.clipboardData.items[0];
				if (pastedData.kind === 'file') {
					e.preventDefault();
					e.stopPropagation();
					$(".ui.basic.form.segment.left.aligned").children(":first").addClass('disabled');
					$("input:file", ".ui.file.input").parent().children(":first").val("Pasted File");
					SubmitData(pastedData.getAsFile());
				}
			});
		}

	});
</script>
</body>
</html>