<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui centered brown card">
			<div class="ui content center aligned icon">
				<img class="icon" src="/poop.png">
				<div class="header" style="color: #a5673f !important; font-size: 175%">shitty.download</div>
			</div>
			<p class="ui content text" style="font-size: 120%">
				lemmmy's file host lies here
			</p>
			<div class="ui content">
				<div class="ui three basic buttons">
					<a href="/gallery" class="ui button">Gallery</a>
					<a href="/list" class="ui button">List</a>
					<a href="/upload" class="ui button">Upload</a>
				</div>
			</div>
			<p class="ui content text">
				<small>for dmca etc., contact drew at lemmmy dot pw</small>
			</p>
		</div>
	</div>
</div>