<div class="ui grid">
	<div class="column" style="margin: 2rem; padding-bottom: 2rem;">
		<div class="ui centered fluid card">
			<div class="ui content center aligned icon">
				{{> navigation }}
			</div>
			<div class="ui content center aligned">
				{{> pagination }}
			</div>
			<div class="ui content">
				<div class="ui vertical menu fluid">
					{{#each files}}
						<a href="/{{name}}" class="item">
							<div class="content">
								{{name}}
								<span class="right floated">{{fileSize size}} - {{dateformat mtime}}</span>
							</div>
						</a>
					{{/each}}
				</div>
			</div>
			<div class="ui content center aligned">
				{{> pagination }}
			</div>
		</div>
	</div>
</div>