<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui centered green card">
			<div class="content">
				<h1 class="header" style="color: #229A33 !important; font-size: 175%">Success</h1>
			</div>
			<p class="ui content text" style="font-size: 120%">
				{{ successText }}
			</p>
			<p class="ui content text" style="font-size: 120%">
				<button class="ui primary button" onClick="window.location.href = document.referrer" type="button"> Go Back </button>
			</p>
		</div>
	</div>
</div>