<div class="ui middle aligned center aligned grid">
	<div class="column">
		<div class="ui centered green card">
			<div class="content">
				<h1 class="header" style="color: #229A33 !important; font-size: 175%">Success</h1>
			</div>
			<div class="ui content text" id="success" style="font-size: 120%">
				{{ successText }}
			</div>
			<div class="ui content text" style="font-size: 120%">
				<button class="ui primary button" onClick="copyToClipboard($('#success').text().trim())" type="button"> Copy </button>
				<button class="ui button" onClick="history.back()" type="button"> Go Back </button>
			</div>
		</div>
	</div>
</div>